﻿@{
    ViewBag.Title = "By Direct - Backend1";
}
<h1>By Direct Model</h1>

<b>Rand value first:</b> @Model.X<br/>
<b>Rand value second:</b> @Model.Y<br/>

<b>Add:</b><br />
@Model.Sum<br />

<b>Dif:</b><br />
@Model.Sub<br />

<b>Mult:</b><br/>
@Model.Mp<br />

<b>Div:</b><br/>
@Model.Div<br />