﻿@{
    ViewBag.Title = "ByViewBag - Backend1";
}
<h1>By View Bag</h1>
<b>Rand value first:</b> @ViewBag.X<br/>
<b>Rand value second:</b> @ViewBag.Y<br/>

<b>Add:</b><br/>
@ViewBag.Sum<br/>

<b>Dif:</b><br/>
@ViewBag.Sub<br/>

<b>Mult:</b><br/>
@ViewBag.Mp<br/>

<b>Div:</b><br/>
@ViewBag.Div<br/>

