﻿@{
    ViewBag.Title = "ByViewData - Backend1";
}
<h1>By View Bag</h1>
<b>Rand value first:</b> @ViewData["X"]<br/>
<b>Rand value second:</b> @ViewData["Y"]<br/>

<b>Add:</b><br/>
@ViewData["Sum"]<br/>

<b>Dif:</b><br/>
@ViewData["Sub"]<br/>

<b>Mult:</b><br/>
@ViewData["Mp"]<br/>

<b>Div:</b><br/>
@ViewData["Div"]<br/>
