﻿@{
    ViewBag.Title = "Home Page - Backend1";
}
<h1>Service Example</h1>
<ul>
    <li><a asp-controller="CalcService" asp-action="ByModel">Using Model Calc</a></li>
    <li><a asp-controller="CalcService" asp-action="ByViewData">Using ViewData Calc</a></li>
    <li><a asp-controller="CalcService" asp-action="ByViewBag">Using ViewBag Calc</a></li>
    <li><a asp-controller="CalcService" asp-action="ByDirect">Using Service Injection Calc</a></li>
</ul>
